<div class="container-fluid content-body">
		<div class="col-md-10">
			
				<h1>Update your profile!</h1>
					<div class="row">
						<div class="col-md-10 form-group">
							<%= form_for @user do |f| %>
							
								
								<%= f.text_field :first_name, :value => @user.first_name %>
							
							
								
								<%= f.text_field :last_name, :value => @user.last_name %>
							
							
								
								<%= f.text_field :email, :value => @user.email %>
							
								<%= image_tag @user.image.url(:thumb) %>

								
								<%= f.file_field :avatar, placeholder: 'Add/Update an Image'%>
							
							
								<%= f.submit "Update Profile", class: "btn btn-primary button-blue col-md-2" %>
								<% end %>
						</div> <!-- form-group -->
					</div> <!-- row -->	
		</div> <!-- col-md-10 -->
</div> <!-- container-fluid -->