<h1>This is the users index</h1>


<h2>Users</h2>

<%= link_to "New user!", new_user_path %>


<ul>
	<% @users.each do |u| %>
		<li><%= u.first_name %> <%= u.last_name %> <%= u.email %> 
		<%= link_to "Edit user!", edit_user_path(u) %> 
		<%= link_to "Destroy user!", user_path(u), method: :delete %>
			<ul>
				<%= image_tag u.image.url(:thumb) %>
			</ul>
		</li>
	<% end %>
</ul>