<h1>This is the User's show</h1>

<h2>User<%= u.first_name %> <%= u.last_name %> </h2>

<ul>
	<%= link_to "Edit user!", edit_user_path %>
		<li> <%= u.first_name %> </li>
		<li> <%= u.last_name %> </li>
		<li> <%= u.email %></li>
	<% end %>
</ul>