<div class="container-fluid content-body">
	<div class="row">
		<div class="form-group col-md-4 col-md-offset-4 text-center">
			<h1>Your Account</h1>
			<h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
			<ul>				
					<li> <%= @user.first_name %> </li>
					<li> <%= @user.last_name %> </li>
					<li> <%= @user.email %> </li>
					<li> <%= image_tag @user.image.url(:thumb) %>	</li>
					<li>  <%= render "display_albums" %> </li>
			</ul>
		</div> <!-- form-group -->
		<div>
				<%= link_to "Edit your profile!", edit_user_path %> 

				<%= link_to "Delete your profile!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this profile?"} %>
		</div>	
	</div> <!-- row -->
</div> <!-- container-fluid -->