<!-- shared navigation -->

<div class="jumbotron">
  <div class="newalbum">
    <h2>Add a new Picture/h2>
    <%= form_for @photo do |f| %>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="add-photo">
        <h3>Add Photos</h3>

        <%= f.fields_for @album.photos do |photo_fields| %>

          <div>
            <%= photo_fields.file_field :image, multiple: true %>
          </div>

        <% end %>
      </div>

      <div>
        <%= f.submit "Upload" %>
      </div>
    <% end %>
  </div>
</div>